<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LNK Herd</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/styles/main.css" rel="stylesheet">

    <!-- Le scripts -->
    <script type="text/javascript" src="/scripts/main.js"></script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="container">

      <div class="hero-unit">
        <h1>We are LNK</h1>
        <p>We are artists, musicians, photographers, geeks, writers and so much more.</p>
        <p><%= @logged_in ? "<a href=\"/edit\" class=\"btn primary large\">Edit your profile &raquo;</a>" : "<a href=\"/signin\" class=\"btn primary large\">Add yourself &raquo;</a>" %></p>
      </div>

      <%= yield %>

      <footer>
        <p>&copy; Company 2011 | <%= @logged_in ? "<a href=\"/logout\">Log out</a>" : "<a href=\"/login\">Log in</a>" %></p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
